[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
numpy = "*"
proto-plus = "*"
scikit-learn = "*"
pyopengl = "*"
adafruit-pca9685 = "*"

[dev-packages]

[requires]
python_version = "3.9"
