[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
proto-plus = "*"
scikit-learn = "*"
pyopengl = "*"
sklearn = "*"
pytest = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.9"
