[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyserial = "*"
scikit-learn = "*"
pyopengl = "*"
adafruit-pca9685 = "*"
adafruit-gpio = "*"

[dev-packages]

[requires]
python_version = "3.10"
